body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 1.75em;
	font-weight: 300;
}

h1 {
	font-weight: 900;
}

h2 {
	font-weight: 900;
	color: #666;
}

h4 {
	font-weight: 900;
	color: #999;
}

p {
	line-height: 1.75em;
}

section {
	padding-top: 80px;
	padding-bottom: 80px;
}

blockquote {
	font-size: 1.25em;
	font-weight: 400;
}

.navbar {
	margin-bottom: 0;
	.navbar-brand {
		color: #1485c6;
		font-size: 1.5em;
		font-weight: 900;
		padding-top: 7px;
		&:hover {
			color: #1485c6;
		}
		img {
			display: inline-block;
		}
		span {
			color: #ef7939;
		}
	}
	.navbar-right {
		font-weight: 900;
	}
}

.cta {
	text-shadow: none;
	color: #fff;
	font-weight: 900;
	background: #ef7939;
	border-bottom: 2px solid darken(#ef7939,20%);
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	transition: background .1s ease;
	&:hover {
		text-decoration: none;
		background: lighten(#ef7939,10%);
		color: #fff;
	}
}

.btn-primary {
	text-shadow: none;
	font-weight: 900;
	background: #1b96c9;
	border: none;
	border-bottom: 2px solid darken(#1b96c9,20%);
	border-radius: 0;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	transition: background .1s ease;
	a {
		color: #fff;
		font-size: 18px;
		&:hover {
			text-decoration: none;
		}
	}
	&:hover {
		background: lighten(#1b96c9,10%);
	}
}

.intro {
	background: center top no-repeat url('images/head-bg.jpg');
	min-height: 720px;
	padding-top: 100px;
	img {
		max-width: 200px;
		margin: auto;
	}
}

#project {
	img {
		box-shadow: 0 0 15px #ddd;
	}
	span {
		color: #1b96c9;
		font-weight: 700;
	}
}

#learn {
	min-height: 350px;
	color: #fff;
	h2 {
		color: #fff;
		margin-bottom: 40px;
	}
	i {
		font-size: 3em;
	}
	.col-md-3 {
		margin-bottom: 40px;
	}
}

// .tools {
// 	background-color: #333;
// 	padding-top: 0;
// 	padding-bottom: 0;
// 	.row {
// 		.col-md-3 {
// 			padding-top: 80px;
// 			padding-bottom: 40px;
// 			min-height: 250px;
// 			i {
// 				font-size: 2.5em;
// 			}
// 			strong {
// 				font-size: 2.2em;
// 				padding: 5px 15px;
// 				border-radius: 10px;
// 				border: 1px solid darken(#4c376c,20%);
// 			}
// 		}
// 		.github {
// 			background-color: #9cdaf1;
// 			p {
// 				color: darken(#9cdaf1,20%);
// 			}
// 		}
// 		.bootstrap {
// 			background-color: #4c376c;
// 			p {
// 				color: darken(#4c376c,20%);
// 			}
// 		}
// 		.javascript {
// 			background-color: #f0db4f;
// 			p {
// 				color: darken(#f0db4f,20%);
// 			}
// 		}
// 		.jquery {
// 			background-color: #0868ab;
// 			p {
// 				color: darken(#0868ab,20%);
// 			}
// 		}
// 		.ajax {
// 			background-color: #f26c3f;
// 			p {
// 				color: darken(#f26c3f,20%);
// 			}
// 		}
// 		.apis {
// 			background-color: #1b96c9;
// 			p {
// 				color: darken(#1b96c9,20%);
// 			}
// 		}
// 		.a-programming {
// 			background-color: #cf649a;
// 			p {
// 				color: darken(#cf649a,20%);
// 			}
// 		}
// 		.event-handling {
// 			background-color: #33546c;
// 			p {
// 				color: darken(#33546c,20%);
// 			}
// 		}
// 	}
// }

#start {
	background: center top no-repeat url('images/enso.png');
	background-position: 50%;
	background-size: 50%;
	.space-left {
		background: #fff;
		border: 1px solid #ddd;
		border-radius: 10px;
		padding: 20px;
		h4, p {
			padding-left: 120px;
		}
		p {
			font-weight: 700;
			color: #666;
		}
	}
	.col-md-6 {
		position: relative;
		text-align: left;
		span {
			color: #1b96c9;
			font-weight: 700;
		}
		.col-md-6 {
			font-size: 0.75em;
		}
		.testimonial {
			font-size: 0.75em;
			font-weight: 700;
			background: #fff;
			padding: 10px;
			border-radius: 10px;
			border: 1px solid #ddd;
			position: relative;
			margin-bottom: 20px;
			img {
				position: absolute;
				top: 20px;
				left: 20px;
				max-width: 75px;
				border-radius: 50%;
			}
			h4, p {
				padding-left: 100px;
			}
		}
	}
	.avatar {
		border-radius: 50%;
		max-width: 100px;
		position: absolute;
		top: 30px;
		left: 40px;
	}
	.row {
		margin-top: 40px;
	}
	ul {
		position: relative;
		margin-left: 50%;
		left: -105px;
		min-width: 240px;
		margin-top: 20px;
		li {
			float: left;
			display: inline;
			font-size: 1.25em;
			margin-right: 5px;
			a {
				i {
					color: #666;
					transition: all .3s ease;
					padding: 12px 14px;
					border: 1px solid #cacaca;
					border-radius: 50%;
				}
				.fa-github {
					&:hover {
						color: #fff;
						background: #9cdaf1;
						border-color: #9cdaf1;
					}
				}
				.fa-linkedin-square {
					&:hover {
						color: #fff;
						background: #0274b3;
						border-color: #0274b3;
					}
				}
				.fa-facebook-square {
					&:hover {
						color: #fff;
						background: #3b5999;
						border-color: #3b5999;
					}
				}
				.fa-twitter {
					&:hover {
						color: #ddd;
						background: #28a9e2;
						border-color: #28a9e2;
					}
				}
			}
		}
	}
	.col-md-8 {
		text-align: left;
		padding-top: 60px;
		padding-bottom: 60px;
		blockquote {
			margin-bottom: 0;
			span {
				font-size: 1.75em;
				color: #666;
				font-family: 'Architects Daughter', cursive;
			}
		}
	}
}

#experts {
	text-align: center;
	li {
		float: left;
		list-style: none;
		margin-right: 70px;
		min-height: 200px;
	}
	img {
		max-width: 200px;
	}
}

#mentor {
	background: #333;
	color: #fff;
	h2 {
		color: #fff;
	}
}