body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  font-weight: 300; }

h1 {
  font-weight: 900; }

h2 {
  font-weight: 900;
  color: #666; }

section {
  padding-top: 80px;
  padding-bottom: 80px; }

blockquote {
  font-size: 1.25em;
  font-weight: 400; }

.navbar {
  margin-bottom: 0; }
  .navbar .navbar-brand {
    color: #1485c6;
    font-size: 1.5em;
    font-weight: 900;
    padding-top: 7px; }
    .navbar .navbar-brand:hover {
      color: #1485c6; }
    .navbar .navbar-brand img {
      display: inline-block; }
    .navbar .navbar-brand span {
      color: #ef7939; }
  .navbar .navbar-right {
    font-weight: 900; }

.cta {
  text-shadow: none;
  color: #fff;
  font-weight: 900;
  background: #ef7939;
  border-bottom: 2px solid #b3490f;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  transition: background .1s ease; }
  .cta:hover {
    text-decoration: none;
    background: #f39968;
    color: #fff; }

.btn-primary {
  text-shadow: none;
  font-weight: 900;
  background: #1b96c9;
  border: none;
  border-bottom: 2px solid #0f536f;
  border-radius: 0;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  transition: background .1s ease; }
  .btn-primary a {
    color: #fff;
    font-size: 18px; }
    .btn-primary a:hover {
      text-decoration: none; }
  .btn-primary:hover {
    background: #33b0e4; }

.intro {
  background: center top no-repeat url("images/hero-bg.jpg");
  min-height: 720px;
  color: #fff;
  padding-top: 80px; }

#learn {
  min-height: 350px;
  color: #fff; }
  #learn h2 {
    color: #fff; }

#start {
  background: center top no-repeat url("images/enso.png");
  background-position: 50% -140px;
  background-size: 50%;
  min-height: 350px; }
  #start h2 {
    color: #000; }
  #start .avatar {
    border-radius: 50%;
    max-width: 200px;
    margin-top: 20px; }
  #start .row {
    margin-top: 40px; }
  #start ul {
    position: relative;
    margin-left: 50%;
    left: -105px;
    min-width: 240px;
    margin-top: 20px; }
    #start ul li {
      float: left;
      display: inline;
      font-size: 1.25em;
      margin-right: 5px; }
      #start ul li a i {
        color: #666;
        transition: all .3s ease;
        padding: 12px 14px;
        border: 1px solid #cacaca;
        border-radius: 50%; }
      #start ul li a .fa-github:hover {
        color: #fff;
        background: #9cdaf1;
        border-color: #9cdaf1; }
      #start ul li a .fa-linkedin-square:hover {
        color: #fff;
        background: #0274b3;
        border-color: #0274b3; }
      #start ul li a .fa-facebook-square:hover {
        color: #fff;
        background: #3b5999;
        border-color: #3b5999; }
      #start ul li a .fa-twitter:hover {
        color: #ddd;
        background: #28a9e2;
        border-color: #28a9e2; }
  #start .col-md-8 {
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px; }
    #start .col-md-8 blockquote {
      margin-bottom: 0; }
      #start .col-md-8 blockquote span {
        font-size: 1.75em;
        color: #666;
        font-family: 'Architects Daughter', cursive; }

#mentor {
  background: #333;
  color: #fff; }
  #mentor h2 {
    color: #fff; }

/*# sourceMappingURL=style.css.map */
